block footer 
footer.footer 
    .logo 
        img(src="https://vimafoods.com/wp-content/uploads/2020/05/mazorcas-maiz-choclo.jpg", alt="corn") 
        span footer-logo 
        
    .nav 
        ul 
            li.li 
                a(href="#") footer-link 
            li.li 
                a(href="#") footer-link
            li.li 
                a(href="#") footer-link
            li.li 
                a(href="#") footer-link
            li.li 
                a(href="#") footer-link